{% extends 'base.html.twig' %}

{% block body %}

<div>
    <a class="play-button" href="select">play</a>
</div>

{%  endblock %}

{% block footer %}

    <a href="rules">what are the rules?</a>

{% endblock %}